* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "ITC Avant Garde Gothic";
    src: url("../fonts/avantgarde_demi.ttf") format("trueType");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'ITC Avant Garde Gothic', sans-serif;
    line-height: 1.55;
}

.page-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.page-header__nav {
    margin-right: 3em;
}

.page-header__nav a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 20px;
    color: #ffefcc;
    letter-spacing: 2px;
    transition: text-shadow .4s, letter-spacing .4s;
}

.page-header__nav a.active {
    color: #ffe8aa;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.page-header__nav a:hover {
    text-shadow: 0 0 10px #ffefcc;
    letter-spacing: 4px;
}

.page-header__logo {
    text-transform: uppercase;
    color: #ffefcc;
    letter-spacing: 10px;
}

.header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    letter-spacing: 4px;
}

.header__btn {
    width: fit-content;
    color: white;
    border: 1px white solid;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px;
    margin-top: 1em;
    transition: text-shadow .4s, letter-spacing .4s, color .4s;
}

.header__btn:hover {
    text-shadow: 0 0 10px #ffefcc;
    color: #ffefcc;
    letter-spacing: 4px;
}

.content-title-wrapper,
.about-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    letter-spacing: 4px;
}

.content-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}

.content-images__title {
    letter-spacing: 4px;
    font-size: 42px;
    margin-bottom: 10vh;
}

.content-images__row {
    display: flex;
    gap: 200px;
}

.content-images__row img {
    max-width: 30vw;
    border-radius: 20px;
    transition: box-shadow .4s, transform .4s;
    cursor: pointer;
}

.content-images__row img:hover {
    box-shadow: 0 0 40px #626262;
    transform: translateY(-2px);
}

.content-table-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-table-section__title {
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.table {
    text-align: left;
    border-collapse: collapse;
}

.table th,
.table td {
    font-size: .95rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 14px 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.table__head{
    border-bottom: 1px white solid;
}

.table-privilege {
    color: darkgreen;
    background-color: rgba(46, 204, 113, 0.08);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    color: grey;
    letter-spacing: 2px;
}

.footer__aitu {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__aitu img {
    max-width: 30px;
}

.footer__aitu p {
    padding-top: 3px;
}

.about__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 10vh;
}

.inner-logo {
    color: #ffefcc;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.about-content {
    display: flex;
    width: 100%;
}

.about-content__best-album {
    display: flex;
    border: 1px white solid;
    margin-left: 10%;
    gap: 20px;
    padding: 30px;
    letter-spacing: 4px;
}

.about-content__best-album-meta-descr {
    color: cadetblue;
}

.about-content__best-album-cover img{
    max-width: 400px;
}

.about-content__quotation {
    max-width: 25vw;
    margin-left: 3vw;
    background-color: #171717;
    height: fit-content;
    border-radius: 15px;
    padding: 20px;
}

.about-content__quotation-text {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 5vh;
}

.about-content__quotation-author {
    color: cadetblue;
}

.about-lists {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
    gap: 150px;
    letter-spacing: 1px;
    font-size: 20px;
}

.about-lists ul, .about-lists ol {
    max-width: 300px;
}

.about-lists__list-title {
    text-transform: uppercase;
    color: cadetblue;
    margin-bottom: 10px;
    font-size: 24px;
}

.about-history, .about-facts {
    background-color: #171717;
    border-radius: 15px;
    padding: 40px;
}

.contact {
    padding-left: 10%;
}

.contact__title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    color: cadetblue;
    margin-bottom: 10px;
}

.contact__form-legend{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.contact__form fieldset {
    border: none;
    margin-bottom: 30px;
}

.contact__form-label {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffefcc;
}

.contact__form-input, .contact__form-textarea {
    background-color: black;
    border: 1px grey solid;
    padding: 10px;
    border-radius: 7px;
    width: 300px;
    margin-bottom: 20px;
    color: #ffefcc;
    transition: box-shadow .4s;
}

.contact__form-input:hover,
.contact__form-textarea:hover {
    box-shadow: 0 0 10px #ffefcc;
}

.contact__form-textarea {
    width: 700px;
    resize: none;
}

.contact__form-btn button {
    background-color: black;
    color: #ffefcc;
    border: 1px solid #ffefcc;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .4s;
}

.contact__form-btn button:hover {
    background-color: #001b00;
    color: #00b900;
    border: 1px solid #00b900;
    box-shadow: 0 0 20px #00b900;
    letter-spacing: 3px;
}